<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mandiprice">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MandiActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <provider
            android:name="com.example.mandiprice.FileProvider"
            android:authorities="com.example.outgrow"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>