<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waycool.featurelogin">

    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--    <uses-permission android:name="android.permission.READ_CALL_LOG" />-->
    <!--    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />-->
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity
            android:name="com.waycool.featurelogin.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="${TRUECALLER_API_KEY}" />
    </application>

</manifest>