<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waycool.featurecrophealth">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>

        <activity
            android:name="com.waycool.featurecrophealth.CropHealthActivity"
            android:exported="true" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="adminuat.outgrowdigital.com"
                    android:path="/crophealth"
                    android:scheme="https"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>
<!--        <provider-->
<!--            android:authorities="com.example.featurecrophealth"-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:exported="false"-->

<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/fileprovider" />-->
<!--        </provider>-->

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" >
        </meta-data>
    </application>


</manifest>