<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application>
        <activity
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme"
            android:name=".SoilTestActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="adminuat.outgrowdigital.com"
                    android:path="/soiltesting"
                    android:scheme="https"/>
            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="adminuat.outgrowdigital.com"
                    android:path="/soiltestinghistory"
                    android:scheme="https"/>
            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="adminuat.outgrowdigital.com"
                    android:path="/soiltestinghistorystatus"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.example.soiltesting.FileProvider"
            android:authorities="com.example.soiltesting"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>