<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cropinformation">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
        <activity
            android:name=".CropInfo"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:screenOrientation="portrait"
            android:exported="true"
            android:autoLink="phone"
            android:theme="@style/AppTheme">
            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="app.outgrowdigital.com"
                    android:path="/cropinfo"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

    </application>

</manifest>