<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adddevice">
    <uses-feature android:name="android.hardware.camera.autoFocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:hardwareAccelerated="true">
        <activity
            android:name=".AddDeviceActivity"
            android:exported="false" />
    </application>

</manifest>